section {
    display: flex;
    justify-content: center;
}

.borda {
    width: 6rem;
    padding: 1.28rem;
    margin-top: 2rem;
    border: 2px solid hsl(0, 0%, 57%);
    border-radius: .4rem;
    background-color: hsl(0, 0%, 67%);
}

.botao {
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: .4rem;
    cursor: pointer;
}

.ligar {
    float: left;
} 

.botao.ligar, .botao.desligar{
    width: 2.8rem;
    border-radius: 2px;
    border: none;
}

.desligar {
    float: right;
}

#lampada {
    margin: 0 auto;
    width: 180px; 
    height: 210px;
}